# Ignore the builtin vscode files
*.vscode

# MacOS Files
.DS_Store

# Ignore the theming digest files in your repo
*.digest.json

# Default ignition files
ignition.conf
logback.xml

# Project stuff
**/conversion-report.txt
**/.resources

# Ignore any inbuilt theming files as well
**/modules/com.inductiveautomation.perspective/fonts
**/modules/com.inductiveautomation.perspective/icons/*

#* Ignore the default themes
**/modules/com.inductiveautomation.perspective/themes/*
ignition-data/oee-backend/modules/com.inductiveautomation.perspective/themes/*
